<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Eurowings" verbose="1" parallel="tests"
	thread-count="3" >
    <test name="FIREFOX" annotations="JDK"
		preserve-order="true">
        <parameter name="browser" value="Safari"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Mac OS"/>
        <classes>
            <class name="runners.Runner" />
        </classes>
    </test> <!-- Test -->
    <test name="CHROME" annotations="JDK"
		preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Mac OS"/>
        <classes>
            <class name="runners.Runner" />
        </classes>
    </test> <!-- Test -->
    <test name="EDGE" annotations="JDK"
		preserve-order="true">
        <parameter name="browser" value="Microsoft Edge"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Mac OS"/>
        <classes>
          <class name="runners.Runner" />
        </classes>
    </test> <!-- Test -->

</suite>